html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}


/* .humberger {
    padding-right: 20px;
    cursor: pointer;
}

.humberger line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
} */

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: block;
    margin: 0;
}

.nav-links a {
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a :hover{
    background-color: royalblue;
}

.nav-links a :focus {
    background-color: royalblue;
}

.expanded {
    display: unset;
}

.blog-link {
    display: block;
    margin: 10px 0px;
    padding: 20px;
    background-color: aqua;
}

.blog-link a {
    text-decoration: none;
}

.blog-list {
    display: none;
    margin: 100px 100px;
    padding: 20px 100px;
    background-color: blue;
}

/* @media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline;
        padding: 15px 30px;
    }

    .humberger {
        display: none;
    }
} */
