---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = "关于";

const skills = ["Golang", "云平台架构"]

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
	<!-- <h1>这是我的博客</h1> -->
	<h2>成为一个有手艺的工匠</h2>
	<!-- <p>这里将记录新的学习心得记录</p> -->
	<!-- <p>我的技能：</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul> -->
</BaseLayout>

<html lang="zh-cn">
	<head>
		<meta charset ="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>

		<style define:vars={{skillColor, fontWeight, textCase}}>
		h1 {
			color: purple;
			font-size: 4rem;
		}
		.skill {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
			text-transform: var(--textCase);
		}
		</style>
	</head>

</html>