---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = "关于";

const skills = ["Golang", "云平台架构"]

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
	<h3 class="my-target">成为一名有点手艺的工匠</h3>
	<p class="my-word">本博客用来整理个人对业界通用技术的理解和分析，不作任何商业用途。</p>
	<p class="my-word">若有技术上的讨论，欢迎邮件交流：aisoulliu@gmail.com。</p>
	<br/>
	<p class="my-word"><b>博客信条</b></p>
	<li class="my-word">1. 不积跬步，无以至千里；不积小流，无以成江海</li>
	<li class="my-word">2. 创新就是用现有的技术来解决新问题；站在巨人的肩膀看世界的前提是先要“站上”</li>
	<li class="my-word">3. 在所有人看起来非常简单的事情，也值得深究</li>
	<!-- <ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>  -->
</BaseLayout>

<html lang="zh-cn">
	<head>
		<meta charset ="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>

		<style define:vars={{skillColor, fontWeight, textCase}}>
		h1 {
			color: purple;
			font-size: 4rem;
		}
		.skill {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
			text-transform: var(--textCase);
		}
		/* .my-target {
			background-color:aqua;
		} */
		.my-word {
			display: block;
			font-size: larger;
			margin: 10px 5px;
			padding: 0;
		}
		</style>
	</head>

</html>