---
import '../styles/global.css'

const pageTitle = "soulliu的博客"
---
<html lang="zh-cn">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>

	<a href="/">首页</a>
	<a href="/blog/">博客</a>
	<a href="/about/">关于</a>

	<body>
		<h1>我的博客</h1>
		<h1>start</h1>
	</body>
</html>