---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'

const pageTitle = "首页"
---
<html lang="zh-cn">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>

	<Header></Header>

	<body>
		<h1>我的博客</h1>
		<h1>start</h1>
	</body>
	<Footer></Footer>
	<script>
		import "../scripts/menu.js"
	</script>
</html>